# usuario root para la base de datos
POSTGRES_USER=postgres
    # contraseña para el usuario root
POSTGRES_PASSWORD=admin123
    # Nombre de la base de datos donde se va a restaurar el dump
POSTGRES_NEW_DB=<Nombre_base_de_datos>


# Configuración para la creación del contenedor pgadmin
    # Usuario por default de pgadmin 
PGADMIN_DEFAULT_EMAIL=admin@admin.com
    # Contraseña para el usuario default de pgadmin
PGADMIN_DEFAULT_PASSWORD=admin123m
